{% extends 'base.html' %}
{% block style %}
<style>
table, th, tr, td {
    border : 1px solid black;
}
th, td {
    width : 300px;
    padding : 10px;
}
</style>
{% endblock  %}
{% block content %}
<h1>영화 목록</h1>
<a class="btn btn-primary" href="{% url 'movies:create' %}">목록 작성</a>
<hr>
<table>
<tr>
<th>영화 제목</th>
<th>평 점</th>
<th>장 르</th>
<th>개봉일</th>

</tr>
{% for movie in movies %}
<tr>
<td><a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a></td>
<td>{{ movie.score }}</td>
<td>{{ movie.genre }}</td>
<td>{{ movie.open_date }}</td>
</tr>
{% endfor %}
</table>
{% endblock  %}